/*———————————————————————————————————
Title
———————————————————————————————————*/
.title-h1 {
  font-size: 42px;
  font-weight: 700;
  color: black;
  line-height: 1.1;
}

.title-h2 {
  font-size: 36px;
  font-weight: 700;
  color: black;
}
.title-h3 {
  font-size: 30px;
  font-weight: 600;
  color: black;
}
.title-h4 {
}
.title-h5 {
}
.title-h6 {
}
.title-h7 {
}

/*———————————————————————————————————
Transition
———————————————————————————————————*/
.transition {
  transition-property: all;
  transition-duration: var(--transition-medium);
  transition-timing-function: ease-in-out;
}

.transition-fast {
  transition-duration: var(--transition-fast);
}

.transition-medium {
  transition-duration: var(--transition-medium);
}

.transition-slow {
  transition-duration: var(--transition-slow);
}

.ease-linear {
  transition-timing-function: linear;
}

.ease-in {
  transition-timing-function: ease-in;
}

.ease-out {
  transition-timing-function: ease-out;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}
