/*———————————————————————————————————
Title
———————————————————————————————————*/
/* Default (Desktop) */
.title-h1 {
  font-size: 42px;
  font-weight: 700;
  color: var(--color-text-black);
  letter-spacing: -2px;
  line-height: 1 !important;
}

.title-h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--color-text-black);
  letter-spacing: -2px;
}

.title-h3 {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-text-black);
}

.title-h4 {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 1 !important;
  color: var(--color-text-black);
}

.title-h5 {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-text-black);
}

.title-h6 {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-text-black);
}

.title-h7 {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text-black);
}

/* Tablet */
@media (max-width: 1024px) {
  .title-h1 {
    font-size: 32px;
  }
  .title-h2 {
    font-size: 38px;
  }
  .title-h3 {
    font-size: 24px;
  }
  .title-h4 {
    font-size: 20px;
  }
  .title-h5 {
    font-size: 14px;
  }
  .title-h6 {
    font-size: 12;
  }
  .title-h7 {
    font-size: 9px;
  }
}

/* Mobile */
@media (max-width: 640px) {
  .title-h1 {
    font-size: 28px;
  }
  .title-h2 {
    font-size: 24px;
  }
  .title-h3 {
    font-size: 20px;
  }
  .title-h4 {
    font-size: 18px;
  }
  .title-h5 {
    font-size: 16px;
  }
  .title-h6 {
    font-size: 14px;
  }
  .title-h7 {
    font-size: 12px;
  }
}

/*———————————————————————————————————
Transition
———————————————————————————————————*/
.transition {
  transition-property: all;
  transition-duration: var(--transition-medium);
  transition-timing-function: ease-in-out;
}

.transition-fast {
  transition-duration: var(--transition-fast);
}

.transition-medium {
  transition-duration: var(--transition-medium);
}

.transition-slow {
  transition-duration: var(--transition-slow);
}

.ease-linear {
  transition-timing-function: linear;
}

.ease-in {
  transition-timing-function: ease-in;
}

.ease-out {
  transition-timing-function: ease-out;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.no-select {
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chuẩn CSS */
}

/* Chrome, Edge, Safari */
.scrollbar-light::-webkit-scrollbar {
  height: 2px; /* độ dày thanh cuộn ngang */
}
.scrollbar-light::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.01); /* track rất nhạt */
}
.scrollbar-light::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1); /* thumb nhẹ */
  border-radius: 3px;
}

/* Firefox */
.scrollbar-light {
  scrollbar-width: thin; /* mỏng */
  scrollbar-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.01);
}
